/* ************************************************************************** */
/*                                    FONT                                    */
/* ************************************************************************** */
@font-face {
	font-family: 'robotoregular';
	src: url('font/robot-regular-webfont.woff2') format('woff2'),
		url('font/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ************************************************************************** */
/*                                  MAIN FILE                                 */
/* ************************************************************************** */
* {
	--plum: #DBA1E3;
	--soft-cyan: #90FCF9;
	--lavender-mist: #F7F0F5;
}

body {
	font-family: 'robotoregular', 'Arial', sans-serif;

	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr;
	height: 100vh;
}

/* ************************************************************************** */
/*                                   HEADER                                   */
/* ************************************************************************** */
.header {
	button {
		background-color: var(--plum);
	}

	.icon {
		height: 1.5rem;
	}
}

/* ************************************************************************** */
/*                                   SIDEBAR                                  */
/* ************************************************************************** */
.sidebar {
	grid-row: 1 / 3;
	background-color: var(--plum);

	div p {
		font-size: 2rem;
	}

	ul p {
		font-size: 1.2rem;
	}

	ul {
		margin: 2rem;
	}

	p,
	div {
		margin: 1rem;
	}

	li,
	div {
		display: flex;
		align-items: center;
	}

	#dashboard {
		height: 3rem;
	}

	.icon {
		height: 2rem;
	}
}

/* ************************************************************************** */
/*                                MAIN CONTENT                                */
/* ************************************************************************** */
.main-content {
	background-color: var(--lavender-mist);

	.icon {
		height: 1.5rem;
	}
}
